.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.messageInfo {
  padding: 10px;
}

.messageTimestamp {
  color: gray;
  font-weight: 300;
  font-size: 13px;
}
