.sidebarOption {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  cursor: pointer;
}

.sidebarOption:hover {
  opacity: 0.9;
  background-color: #340e36;
}

.sidebarOptionIcon {
  padding: 10px;
  font-size: 15px !important;
}

.SidebarOptionChannel {
  padding: 10px 0;
}

.SidebarOptionHash{
    padding: 10px;
}

.SidebarOption > h3 {
    font-weight: 500;
}